<div class="container">
    <h1 class="lead">Login</h1>
    <h1 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
        <div layout="row">
        <form layout="column" layout-align="left" class="logRegForm" ng-submit="lc.login()">
            <div>
                <md-input-container>
                    <label for="username">Email</label>
                    <input type="text" ng-model="lc.user.username" />
                </md-input-container>
            </div>
            <div>
                <md-input-container>
                    <label for="password">Password:</label>
                    <input type="password" ng-model="lc.user.password" />
                </md-input-container>
            </div>
            <div>
                <md-button class="md-raised md-primary" type="submit" value="Login">
                    Login
                </md-button>
            </div>
            <!-- <a href="#forgot">Forgot Password</a>

            <div class="registrationButton">
                <span>New Here?</span>
                <md-button class="md-raised md-primary" href="#register">
                    Register
                </md-button>
            </div> -->
        </form>
        
        <div class="loginPageUns" layout="column">
            <h3>Andrew Residence On-call Staffing Solution Example Site</h3>
            <hr>
            Log in to expereince the staffing system as an administrator, supervisor or on-call staff <br>member using the usernames and password below.<br>
            <br>
            <span><strong>Usernames: </strong>Administrator, Supervisor, Staff</span>
            <br>
            <span><strong>Password: </strong>example</span>
        </div>
    </div>
</div>